@media (max-width: 768px) {

    .container {
        width: 90vw;
    }

    .header,
    .rdv-card {
        flex-direction: column;
    }

    .titre {
        margin: 0 0px 20px 0 !important;
    }

    .rdv-date {
        width: 94%;
    }

    .toggle {
        justify-content: space-around;
    }

}